*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
}
header{
    background-image: linear-gradient(to bottom, lightgreen, green);
    text-align: center;
    
}
header > p{
    margin-bottom: 30px;
}
li{
    margin-right: 30px;
    display: inline-block;
    text-align: left;
    
}
